{% assign array-size = site.[include.component-data.content-type] | size %}

{% for post in site.[include.component-data.content-type] %}
  {% if post.title == page.title %}
    {% assign array-position = forloop.index0 %}
  {% endif %}
{% endfor %}

{% assign next-position = array-position | plus:1 %}
{% assign previous-position = array-position | minus:1 %}

{% for post in site.[include.component-data.content-type] %}
  {% if forloop.index0 == next-position %}
    {% assign next = post.url %}
    {% assign next-title = post.title %}
  {% elsif forloop.index0 == previous-position %}
    {% assign previous = post.url %}
    {% assign previous-title = post.title %}
  {% endif %}
{% endfor %}


  {% unless previous-position < 0 %}
    <div class="previous {{include.component-data.class}}">
      {% if include.component-data.icon %}
         <a href="{{previous}}"><i class="material-icons">chevron_left</i>{{previous-title}}</a>
      {% else %}
        <a href="{{previous}}">{{previous-title}}</a>
        <a href="{{previous}}">{{include.component-data.previous-label}}</a>
      {% endif %}
  </div>
  {% endunless %}

  {% unless next-position == array-size %}
    <div class="next {{include.component-data.class}}">
      {% if include.component-data.icon %}
         <a href="{{next}}">{{next-title}}<i class="material-icons">chevron_right</i></a>
      {% else %}
        <a href="{{next}}">{{next-title}}</a>
        <a href="{{next}}">{{include.component-data.next-label}}</a>
      {% endif %}
    </div>
  {% endunless %}


  {% if include.component-data.icon %}
     <a href="{{next}}">{{include.component-data.next-label}}</a>
     <i class="icon-fast-forward"></i>
  {% endif %}
