<!-- DEBUG FILE: html_components/basic_components/head.html -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

<!-- Icon Fοnts -->
   {% for plugin in site.data.pluginssourcefiles.iconfontsSourceFiles %}
         {% if plugin.state == 'active' %}
               <link rel="stylesheet" href="{{ site.baseurl }}/{{ plugin.css }}">
            {% endif%}
      {% endfor %}


   <link rel="stylesheet" href="{{site.baseurl}}/css/components.css">
   <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Advent+Pro|Nova+Mono|Open+Sans+Condensed:300|Open+Sans|Roboto|Roboto+Condensed|Roboto+Slab|Noto+Sans|Arimo|Ubuntu|Ubuntu+Condensed|Noto+Serif|Play|Fira+Sans|Cardo|Caudex|Anonymous+Pro|Fira+Mono|GFS+Neohellenic|GFS+Didot&subset=greek,latin' rel='stylesheet' type='text/css'>
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

   <style>
    {{ page.css  }}
    {{ layout.css }}
 </style>

</head>
