<!-- DEBUG FILE: html_components/basic_components/snipcartFooter.html -->
<script type="text/javascript" 
  id="snipcart" 
  src="https://cdn.snipcart.com/scripts/snipcart.js"
  data-api-key="NTJlNjVhYWQtMjMxZi00MTA3LWJmYTEtNGUxMDY5YjgwMWNj"
  data-autopop="false" ></script>

<link type="text/css"
  id="snipcart-theme"
  href="https://cdn.snipcart.com/themes/base/snipcart.min.css" 
  rel="stylesheet" />
     
<script
   type="text/javascript"
   src="/{{ site.baseurl}}js/snipcart/locale/gr.js">
</script>