//
// TYPOGRAPHIC
// Settings
$lila-logo: 'Open Sans','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$lila-body: 'Open Sans','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$body: 'Open Sans','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

$line-height-ratio  : 1.75 !default;
$header-ratio       : $golden !default;
$body-font          : $body !default;
$body-font-weight   : 300 !default;
$body-color         : rgba(0, 0, 0, 0.87) !default;
$header-font        : $body !default;
$header-font-weight : 500 !default;
$header-color       : #111 !default;
$min-font           : 16px !default;
$max-font           : 20px !default;
$min-width          : 600px !default;
$max-width          : 1140px !default;
$vertical-rhythm    : true !default;

@include typographic();

  p, blockquote, pre,
  address,
  dl, ol, ul,
  table {
    @include t-block;
  }

  h1, h2, h3, h4, h5, h6 {
    @include t-header;
  }

  h1 {
    @include t-h1;
  }

  h2 {
    @include t-h2;
  }

  h3 {
    @include t-h3;
  }

  h4 {
    @include t-h4;
  }

  h5 {
    @include t-h5;
  }

  h6 {
    @include t-h6;
  }

  blockquote {
    @include t-blockquote;
  }

  pre {
    @include t-pre;
  }

  code {
    @include t-code;
  }

  big, small, sub, sup {
    line-height: 0;
  }

  abbr, acronym {
    @include t-abbr;
  }

  address {
    font-style: normal;
  }

  dt {
    @include t-dt;
  } 

   ul {
    padding-left: 1.1em;
  }

  ol {
    padding-left: 1.4em;
  }

  fieldset {
    @include t-fieldset;
  }

  legend {
    @include t-legend;
  }

   