.footer-wrapper {
   background: #151B27;
   color: #fff;
   border-top: 3px solid #36648e;
}
.footer-wrapper .menu a:hover {
  color: #151B27;
}
.social .icon {
    width: 40px;
    fill: #fff;

}
.material-icons {
    padding: 0 10px 0 0px;
   }
