.top-article {
      background: url("/assets/images/bg-content.jpg") no-repeat top center #26334A fixed;
      background-size: 100%;
      color: $white;
}
.color-overlay {
  background-color: rgba(18,23,32,0.7);
  .title {
    font-size: 24px;
    padding: 5% 0;
  }
}
.article {
  color: #fff;
  .title {
    font-size: 24px;
    padding: 5% 0;
  }

}
.component-header {
  color: #36648e;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.spoudes-group {
  .type {
    background-color: #2b303c;

  }
  .text {
        background-color: #242833;
  }
}
