.maincontent {
   padding: 0 4%;
    .component-header {
       margin-bottom: 4%;
       font-size: 24px;
       font-weight: bold;
       text-align: center;

   }
}
.preface h1 {
   margin-top: 0;
   margin-bottom: 5%;
}

.preface,
.success{
   padding: 4%;
   background: #fff;
}

.teachers {
  padding: 4% 4% 0;
  background: #fff;
}

.secretaria {
   padding: 0 4% 4%;
   margin-bottom: 10%;
   background: #fff;
}
.secretaria {
  .component-header {
    padding: 2% 0 0;
  }
}
.name {
   font-weight: bold;
}

.article {
   padding: 0 4%;
   background: #1B2433;
   margin-bottom: 10%;
   color: #fff;
   h1 {
      color: #fff;
   }
   h2,h3,h4 {
      color: #988F0C;
   }
   #section {
      margin-top: 0;
      padding-top: 1rem;
   }
}
