header {
  background-image: radial-gradient( #5965AF, #3c4477 );
}

nav {
  box-shadow: none;
  margin-top: 50px;
  background-color: transparent;
}
#nav-mobile {
  background-color: #ccc;
  a {
    color: #323232;
  }
}
.hero{
    height: 500px;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EEEC6E;
    font-size: 42px;
    font-weight: bold;
    .hero-group {
      display: flex;
      flex-direction: column;
    }
    .herotitle {
      align-self: flex-start;
    }
    .herosubtitle {
      align-self: flex-end;
    }
}
