.maincontent {
   padding: 0 4%;
    .component-header {
       margin: 4%;
       padding: 3%;
       font-size: 24px;
       font-weight: bold;
       text-align: center;

   }
}
.preface h1 {
   margin-top: 0;
}

.preface,
.teachers,
.secretaria,
.success{
   padding: 4%;
   background: #fff;
   margin-bottom: 10%;
}
.name {
   font-weight: bold;
}

.article {
   padding: 0 4%;
   background: #1B2433;
   margin-bottom: 10%;
   color: #fff;
   h1 {
      color: #fff;
   }
   h2,h3,h4 {
      color: #988F0C;
   }
   #section {
      margin-top: 0;
      padding-top: 1rem;
   }
}
