input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 0.4375em 0;
}
.input-field label {
    top: 2rem;
}
.contactonemap { 
   .contact-form-materialize {
   background: #fff;
   padding: 0 4%;
   margin-bottom: 10%;
   } 
}
.contact { 
   .contact-form-materialize {
   background: #619BB9;
   padding: 0 4%;
   margin-bottom: 10%;
   }   
   .input-field label {
    color: #151B27;
   }
   input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #151B27;
   }
}
