topnav {
  background: #192638;
}
header {
  height: 450px;
}
header {
  background: url("/assets/images/blackboard.jpg") no-repeat;
  background-size: cover;
}
// 
// SLIDESHOW HEADER
// 
.header-slideshow,
.slideshow-item,
.slideshow-post {
  height: 100%;
}
.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-item {
  height: 100% !important;    
}
.slideshow-post{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #FFF;
  background-size: cover;
  background-position: 50% 50%;
}
.slideshow-title {
    background: rgb(252, 209, 60);
    padding: 0.5em;
    color: #323232;
    font-size: 60px;
    font-weight: bold;
    font-family: "ubuntu";
}

header.hero-overlay {
    background: url("/assets/images/hero.png") no-repeat 50% 0%, linear-gradient(rgba(18, 23, 32, 0.7), rgba(18, 23, 32, 0.7)), url("/assets/images/bathmoi.jpg") no-repeat;
}
// SXEDIO BG
.sxedio header.hero-overlay {
    background: url("/assets/images/hero.png") no-repeat 50% 0%, linear-gradient(rgba(18, 23, 32, 0.7), rgba(18, 23, 32, 0.7)), url("/assets/images/sxedio/sxedio-room-5.jpg") no-repeat;
}
.aboutus,
.lykeio {
  header.hero-overlay {
  background: url("/assets/images/hero.png") no-repeat 50% 0%, url("/assets/images/blackboard.jpg") no-repeat;
  background-size: auto, cover;
  }
}
nav {
 margin-top: 0;
 box-shadow: none;
}
#nav-mobile {
  background-color: transparent;
}
#nav-mobile a {
 color: #f2f2f2;
 font-weight: bold;
}
nav {
  background-color: transparent;
  .nav-wrapper {
     position: relative;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   ul li:hover,
   ul li.active {
    background-color: #ffffff;
   }
  .button-collapse i {
    color: #414141;
   }
 #nav-mobile {
     background-color: transparent;
   a {
    color: #f2f2f2;
    font-weight: bold;
   }
   a:hover {
    color: #323232;
   }
 }
}

// .frontpage {
//     nav {
//       box-shadow: none;
//       margin-top: 50px;
//     }
//     #nav-mobile {
//         background-color: #fff;
//         opacity: 0.8;
//       a {
//         color: #020510;
//         font-weight: bold;
//       }
//     }
//
// HERO TEXT
//
//   .hero{
//       margin: 5% 0;
//       padding: 0 5%;
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       color: #EF2B1D;
//       font-size: 42px;
//       font-weight: bold;
//       .hero-group {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//       }
//       .herotitle {
//         // align-self: flex-start;
//         // margin-bottom: 1%;
//         font-size: 60px;
//       }
//       .herosubtitle {
//         align-self: flex-end;
//       }
//   }
// }
// CONTACT PAGE
.contactonemap {
  nav {
    box-shadow: none;
  }
}
