
nav {
  box-shadow: none;
  margin-top: 50px;
  background-color: transparent;
}
#nav-mobile {
    background-color: #fff;
    opacity: 0.8;
  a {
    color: #020510;
    font-weight: bold;
  }
}
.hero{
    margin: 10% 0;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EEEC6E;
    font-size: 42px;
    font-weight: bold;
    .hero-group {
      display: flex;
      flex-direction: column;
    }
    .herotitle {
      align-self: flex-start;
      margin-bottom: 1%;
    }
    .herosubtitle {
      align-self: flex-end;
    }
}
