<!--                         -->
<!-- CLOUDCANNON EDITOR LINK -->
<!--                         -->
{% if include.component-data.cloudcannon-editor %}
  {% if include.component-data.data-type == 'data-list' %}
    <!-- Editor Link CloudCannon-->
    <a href="cloudcannon:collections/content/_data/content/{{ include.component-data.cloudcannon-editor }}" class="editor-link">Edit</a>
  {% else %}
    <!-- Editor Link CloudCannon-->
    <a href="cloudcannon:collections/{{ page.relative_path }}" class="editor-link">Edit</a>
  {% endif %}
{% endif %}
