<!--                        -->
<!-- COMPONENT CONTENT TYPE -->
<!--                        -->
<!-- DEBUG FILE: html_components/component_includes/componentsContentType.html -->

<!--       -->
<!-- ALIAS -->
<!--       -->
{% assign include.component-data.data-type  = %}
{% assign include.component-data.tag = %}
{% assign include.component-data.tag-hash = %}
{% assign include.component-data.post-title = %}
{% assign include.component-data.postTag = %}
<!-- USE FILE IN _DATA FOLDER FOR CONTENT -->
    <!-- CONTENT TYPE: page.year -->
    <!-- content type is defined as page.year that means that the content is inside a file in _data folder - it is not a collection -->
    <!-- FIND FILE in _DATA FOLDER BASED ON FRONT MATTER -->
    <!-- If to find the data file we must use the page.{argument} from yaml and the file also resides inside a folder
    e.x in the page FRONT MATTER we have year: 2012  nad we say folder: success then it should look in _data/success/2012.csv -->
  {% if include.component-data.content-type contains 'page' %}
      {% assign contenttype = include.component-data.content-type | split:"." | last %}
      {% assign contenttype2 = page.[contenttype] %}
      <!-- IF the data file resides inside a folder ex. _data/success/1012.yml -->
      {% if include.component-data.folder %}
            {% assign posts = site.data.content.[include.component-data.folder].[contenttype2] %}
      {% else %}
            {% assign posts = site.data.content.[contenttype2] %}
      {% endif %}
  {% else%}

    <!--           -->
    <!-- DATA-LIST -->
    <!--           -->
    <!-- IF DATA TYPE IS [data-list] that means that the content is a .yml or .csv or .json file inside the _data folder -->
    {% if include.component-data.data-type == 'data-list' %}

          <!--     -->
          <!-- TAG -->
          <!--     -->
          <!-- IF we want to look for a specific title-tag or whatever you call it inside a .yml file -->
          <!-- 
          If TAG is ex. [page.user = george] or we simply say which tag to find ex. george / we must also assign the tag-hash that means inside which category to find the tag ex. 
          _data/users.yml
          bios:
           - name: george
             age: 12
           - name: eric
             age: 14

          plays:
           - game: Warcraft
           - game: LEON

            ---
            content-type: users
            data-type: data-list
            tag-hash: bios
            tag: name
            ---
        -->
         {% if include.component-data.tag %}
          {% if include.component-data.tag contains 'page' %}
             {% assign whereTag = include.component-data.tag | split:"." | last %}
             {% assign posts = site.data.content.[include.component-data.content-type] | where: include.component-data.tag-hash, page.[whereTag] %}
          {% else %}
             {% assign posts = site.data.content.[include.component-data.content-type] | where: include.component-data.tag-hash, include.component-data.tag %}
          {% endif %}
        {% endif %}


        <!-- IF the data file resides inside a folder ex. _data/success/1012.yml -->
          {% if include.component-data.folder %}
                 {% assign posts = site.data.content.[include.component-data.folder].[include.component-data.content-type] %}
          {% else %}
                {% assign posts = site.data.content.[include.component-data.content-type] %}
          {% endif %}

        <!--            -->
        <!-- POST TITLE -->
        <!--            -->
        <!-- If we want to find a certain post ex.

            _data/strings.yml
              thank-you: ευχαριστώ
              goodnight: καληνύχτα 
            
            ---
            post-title: thank-you
            ---

        -->
       {% if include.component-data.post-title %}
          {% assign onepost = posts.[include.component-data.post-title] %}
       {% else %}
          {% assign onepost = posts %}
       {% endif %}
 
    <!--            -->
    <!-- COLLECTION -->
    <!--            -->
    <!-- IF DATA TYPE IS [collection] that means that the content is inside a collection -->  
    <!-- IF we want to look for a specific FRONT MATTER value we use
      ---
      content-type: universities
      data-type: data-list
      tag-hash: bios
      tag: name
      ---
       -->
    {% else %}       
          {% if include.component-data.postTag  %}
             {% assign posts = site.[include.component-data.content-type] | where:include.component-data.postTag,include.component-data.tag-hash %}
          {% else %}
             {% assign posts = site.[include.component-data.content-type]  %}
          {% endif %}
       {% assign onepost = posts | where:'title', include.component-data.post-title %}
    {% endif %}
  {% endif %}