{% assign m = page.date | date: "%-m" %}

{% case m %}
  {% when '1' %}Ιανουάριος
  {% when '2' %}Φεβρουάριος
  {% when '3' %}Μάρτιος
  {% when '4' %}Απρίλιος
  {% when '5' %}Μάϊος
  {% when '6' %}Ιούνιος
  {% when '7' %}Ιούλιος
  {% when '8' %}Αύγουστος
  {% when '9' %}Σεπτέμβριος
  {% when '10' %}Οκτώβριος
  {% when '11' %}Νοέμβριος
  {% when '12' %}Δεκέμβριος
{% endcase %}

{% case m %}
  {% when '1' %}Ιανουαρίου
  {% when '2' %}Φεβρουάριου
  {% when '3' %}Μαρτίου
  {% when '4' %}Απριλίου
  {% when '5' %}Μαΐου
  {% when '6' %}Ιουνίου
  {% when '7' %}Ιουλίου
  {% when '8' %}Αυγούστου
  {% when '9' %}Σεπτεμβρίου
  {% when '10' %}Οκτωβρίου
  {% when '11' %}Νοέμβρίου
  {% when '12' %}Δεκεμβρίου
{% endcase %}

<div class="{{field.field}} {{field.data.class}}">
{% if field.data.theme %}
  {% case field.data.theme %}
    {% when 'short' %}
        {{ post.date | date: "%-d/%-m/%y" }}
    {% when 'long' %}
      {{ post.date | date: "%-d %B %Y" }}
  {% endcase %}
{% else %}
  {{ post.date}}
{% endif %}
</div>
