<!-- DEBUG FILE: html_components/fieldscases/imagesCase.html -->
<!-- Loop through the images of the post and set limit -->

   {% if include.field_Data.tag %}
      {% assign photos = post.images | where: 'tag', include.field_Data.tag %}
   {% else %}
      {% assign photos = post.images %}
   {% endif %}

<!-- Loop through the images of the post and set limit -->
   {% for image in photos limit: include.field_Data.limit  %}
      <div class="post-image {{ include.field_Data.class }}" data-eq-pts="{{ include.field_Data.eqs }}">
         {% if include.field_Data.link == 'post' %} <a href="{{ site.baseurl}}{{ post.url }}">  {% endif %}

         {% if image.[include.field_Data.image-hash] contains 'https://' or image.[include.field_Data.image-hash] contains 'http://'%}
              <img src="{{ image.[include.field_Data.image-hash] }}" alt="{{ image.alt }}">
           {% else %}
              <img src="{{ site.baseurl}}{{ include.field_Data.images-path }}{{ image.[include.field_Data.image-hash] }}" alt="{{ image.alt }}">
           {% endif %}
                     </a>
      </div>
   {% endfor %}
