<!-- DEBUG FILE: html_components/fieldscases/linkCase.html -->
<!-- LINK FIELD -->
  {% if include.field_Data.button == 'yes' %}
 <!-- Set the Css class for the div -->
            {% capture linkElement %}<button {% endcapture %}
           {% capture linkElementEnd %}</button>{% endcapture %}            
 {% else %}
            {% capture linkElement %}<div {% endcapture %}
           {% capture linkElementEnd %}</div>{% endcapture %}
   {% endif %}


              {{linkElement}} class="{{include.field_Field}} {{include.field_Data.class}}">
<!-- LINK PATH -- Check for the link path if it is about posts or not -->
{{ include.field_Data }}
                           {% case include.field_Data.link %}

                                {% when 'posts' %}
                                     <a href="{{ site.baseurl}}{{ post.url }}">

                                {% when 'buybutton' %}
                                        <a href="#"
                                           class="snipcart-add-item"
                                           data-item-id="{{ post.sku }}"
                                           data-item-name="{{ post.title }}"
                                           data-item-price="{{ post.price }}"
                                           data-item-weight="20"
                                           data-item-url="{{ site.url }}{{ site.baseurl }}"
                                           data-item-description="{{ post.description }}">
                                           Buy Snipcart
                                       </a>

                                {% when nill %}
                                     <a href="{{ site.baseurl}}{{ post.link }}">  
                                {% else %}
                                      <a href="{{ include.field_Data.link }}">

                              {% endcase %}
<!--  LINK LABEL -->
                         {{ include.field_Data.label }}
                       </a>
                    {{linkElementEnd}}
              