<!-- DEBUG FILE: html_components/fieldscases/photoswipeCase.html -->
<!-- Loop through the images and set limit -->
   <figure  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" > 
     <a href="{{ site.baseurl}}{{ include.field_Data.images-path }}{{ post.[include.field_Data.image-hash] }}" itemprop="contentUrl" data-size="{{ include.field_Data.image-size }}" data-index="{{forloop.index}}">  
                  
       {% if post.[include.field_Data.image-hash] contains 'https://' or post.[include.field_Data.image-hash] contains 'http://' %}
          <img src="{{ post.[include.field_Data.image-hash] }}" alt="{{ post.alt }}">
      {% else %}
          <img src="{{ site.baseurl}}{{ include.field_Data.images-path }}{{ post.[include.field_Data.image-hash] }}" itemprop="thumbnail"  alt="{{ post.alt }}">
      {% endif %}
                 
      </a>           
   </figure>   