
<!-- DATA -->
<!-- USE DATA FROM _data/content -->
<!-- Check the content type - Datat or Collections - Posts -->
{% include html_components/component_includes/componentcontenttype.html %}
<nav id="primary_nav_wrap b-nav">
{% for menu in posts limit:{{include.component-data.limit}} offset:{{include.component-data.offset}} %}

      <li class="menu-item menu-{{ menu.name }} b-link" data-theme-menu="{{ include.component-data.theme }}">
         <a class="drop-target" href="{{ site.baseurl }}/{{ menu.url }}">{{ menu.name }}
            {% case include.component-data.icon %}
                {% when 'et-line' %}
                  <i class="icon-{{ menu.icon }}"></i>
                {% when 'font-awesome' %}
                  <i class="fa fa-{{ menu.icon }}"></i>
               {% endcase %}
            </a>


   {% if menu.subfields %}
<ul>
      {% for submenu in menu.subfields  %}
          <li class="submenu-item" data-theme-menu="{{ include.component-data.theme }}">
            <a href="{{ site.baseurl }}/{{ submenu.url }}">{{ submenu.name }}
               {% case include.component-data.icon %}
                   {% when 'et-line' %}
                     <i class="icon-{{ submenu.icon }}"></i>
                   {% when 'font-awesome' %}
                     <i class="fa fa-{{ submenu.icon }}"></i>
                  {% endcase %}
               </a>
              </li>
          {% endfor %}
   </ul>
   {% endif %}
         
         </li>
 {% endfor %}
</nav>

<!-- Burger-Icon -->
<div class="b-container">
  <div class="b-menu">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>