
{% assign fields = include.component-data.fields %} 

{% for field in fields %} 




<!--                {% if field.data.label %}
                  <div class="label {{field.data.class}}-{{field.data.label}}">
                     {{ field.data.label }}
                  </div>
              {% endif %} -->

               

              
              {% if include.component-data.folder %}
                 {% assign fieldContent = site.data.content.[include.component-data.folder].[include.component-data.content-type] %}
              {% else %}
                 {% assign fieldContent = site.data.content.[include.component-data.content-type] %}
              {% endif %}
              
                    {% if field.data.link %}
                       <a class="{{ field.data.class }}" href="{{site.baseurl}}{{ fieldContent.[field.data.link] }}">{{ fieldContent.[field.field] }}</a>
                    {% else %}
                          <div class="field {{field.field}} {{field.data.class}}">                               
                                {% if field.data.icon %}
                                   <i class="material-icons">{{ fieldContent.[field.field] }}</i>
                                {% else %}
                                    {{ fieldContent.[field.field] }}
                                {% endif %}
                          </div>
                    {% endif%}
              




   {% endfor %}