<!-- DEBUG FILE: html_components/social.html -->

{% if include.component-data.icons %}

      <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
         <defs>


            {% for social in include.component-data.icons %}
            {% capture socialSvg %}svg/iconmoon/{{ social.icon }}.svg{% endcapture %}
            {% include {{ socialSvg }} %}
            {% endfor %}


         </defs>
      </svg>

   <!-- ICONMOON -->
   <!-- SVG -->
   <div class="social">
    <ul>
         {% for social in include.component-data.icons %}
             <li>
                 <a href="{{ social.path }}">
                <svg class="icon icon-{{ social.icon }}"><use xlink:href="#icon-{{ social.icon }}"></use></svg><span class="social"></span>
                    </a>
                </li>
          {% endfor %}
       </ul>
      </div> 

{% else %}

         <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
         <defs>


            {% for social in site.data.content.social %}
            {% capture socialSvg %}svg/iconmoon/{{ social.icon }}.svg{% endcapture %}
            {% include {{ socialSvg }} %}
            {% endfor %}


         </defs>
      </svg>

   <!-- ICONMOON -->
   <!-- SVG -->
   <div class="social">
    <ul>
         {% for social in site.data.content.social %}
             <li>
                 <a href="{{ social.path }}">
                <svg class="icon icon-{{ social.icon }}"><use xlink:href="#icon-{{ social.icon }}"></use></svg><span class="social"></span>
                    </a>
                </li>
          {% endfor %}
       </ul>
      </div> 

{% endif %}
