<!--                 -->
<!-- COMPONENT TABLE -->
<!--                 -->
<!-- DEBUG FILE: html_components/table.html -->
<!-- Check the content type - Data or Collections - Posts -->
   {% include html_components/component_includes/componentcontenttype.html %}


<table>
   <thead>
  <tr>
    {% assign fields = include.component-data.fields %}
    {% for field in fields  %}
      <th>
       {{ field.data.th }}
     </th>
    {% endfor %}
  </tr>
</thead>
<!-- Loop through the posts and set a limit if there it exists -->
<tbody>
    {% for post in posts limit:{{include.component-data.limit}} offset:{{include.component-data.offset}}%}
        <tr>
          {% assign fields = include.component-data.fields %}
          {% for field in fields  %}
            <td>
             {{ post.[field.field] }}
           </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </tbody>
</table>
