@include susy-media(mobile) {
   .page {
      border: 15px solid #26334A;
   }
	topnav {
		display: flex;
		}
	.logo {
		width: 40%;
		margin: 0 5%;
		}
	.block {
		margin-bottom: 3rem;
		}
	.pagination {
		display: none;
	}
   .contactonemap,
   .layout-frontistiria {
      .onemap nav{
        @include full;
        background: #192638;
      }
      .logo {
      	width: 120px;
      }
      #map-canvas-multiple {
      	display: none;
      }
   }
    .paroxes {
      .card {
        padding: 4%;
      }
    }
    .paroxes h3 {
    	font-size: 1.92rem
	}
	.footer {
	  flex-direction: column;
	  padding: 4%;
	  .menu {
	  	height: 400px;
	  }
	}
	.width25 {
	    margin-bottom: 4%;
	}
	h1 {
		font-size: 2rem;
	}
}
