@charset "utf-8";
// 
// NORMALIZE
// 
@import "vendor/normalize-scss/sass/normalize";
// 
// ΜΑΤΕRIALIZE
// 
// Mixins
@import "vendor/materialize/sass/components/mixins";
@import "vendor/materialize/sass/components/color";
// Variables;
@import "materialize-variables";
// components
@import "vendor/materialize/sass/components/global";
@import "vendor/materialize/sass/components/icons-material-design";
@import "vendor/materialize/sass/components/grid";
@import "vendor/materialize/sass/components/navbar";
// @import "vendor/materialize/sass/components/roboto";
@import "vendor/materialize/sass/components/typography";
@import "vendor/materialize/sass/components/cards";
@import "vendor/materialize/sass/components/toast";
@import "vendor/materialize/sass/components/tabs";
@import "vendor/materialize/sass/components/tooltip";
@import "vendor/materialize/sass/components/buttons";
@import "vendor/materialize/sass/components/dropdown";
@import "vendor/materialize/sass/components/waves";
@import "vendor/materialize/sass/components/modal";
@import "vendor/materialize/sass/components/collapsible";
@import "vendor/materialize/sass/components/chips";
@import "vendor/materialize/sass/components/materialbox";
@import "vendor/materialize/sass/components/forms/forms";
@import "vendor/materialize/sass/components/table_of_contents";
@import "vendor/materialize/sass/components/sideNav";
@import "vendor/materialize/sass/components/preloader";
@import "vendor/materialize/sass/components/slider";
@import "vendor/materialize/sass/components/carousel";
@import "vendor/materialize/sass/components/date_picker/default";
@import "vendor/materialize/sass/components/date_picker/default.date";
@import "vendor/materialize/sass/components/date_picker/default.time";

// 
// TYPOGRAPHY
// 
@import "fonts/googlecss/myGoogleFonts";

$roboto: 'Roboto','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$roboto-condensed: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$open-sans: 'Open sans','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$open-sans-condensed: 'Open Sans Condensed','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$Comfortaa: 'Comfortaa','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

html {
  font-size: responsive;
  min-font-size: 16px;
  max-font-size: 16px;
  line-height: 1.75;
  font-family: $roboto;
}

h1,h2,h3,h4,h5,h6,
.title,
.component-title,
.spoudesnew .type,
.omades-wrapper .blockquote,
.leitourgia-group .type a {
  font-family: $Comfortaa;
}

h1 {
  font-size: 3rem;
}
h2 {
    font-size: 2.1rem;
}
h3 {
  font-size: 1.92rem;
}
// 
// OWL.carousel
// 
/*
 *  Default theme - Owl Carousel CSS File
 */

$color-base:      #869791 !default;
$color-white:     #FFF !default;
$color-gray:      #D6D6D6 !default;

//nav

$nav-color:       $color-white !default;
$nav-color-hover:   $color-white !default;
$nav-font-size:     14px !default;
$nav-rounded:       3px !default;
$nav-margin:      5px !default;
$nav-padding:       4px 7px !default;
$nav-background:    $color-gray !default;
$nav-background-hover:  $color-base !default;
$nav-disabled-opacity:  0.5 !default;

//dots

$dot-width:       10px !default;
$dot-height:      10px !default;
$dot-rounded:     30px !default;
$dot-margin:      5px 7px !default;
$dot-background:    $color-gray !default;
$dot-background-active: $color-base !default;
@import "vendor/owl.carousel/scss/theme";

// COLORS
@import "styles/styles-colors";
//
// LAYOUT
//
@import "susy-config";
@import "vendor/susy/sass/susy";

/*  */
/* Layouts */
/*  */
@import
       "layouts/layout-global",
       "layouts/layout-normal",

       "layouts/layout-mobile",
              "layouts/layout-tablet"
   ;


/*  */
/* Styles */
/*  */
@import
      "styles/styles-colors",
      "styles/styles-global",
      "styles/styles-basic-components",
      "styles/styles-header",
      "styles/styles-frontpage",
      "styles/styles-footer",
      "styles/styles-leitourgia",
      "styles/styles-contact",
      "styles/styles-map"
   ;
