<div class="blockquote-swew">
<span class="quote"><i class="material-icons">text_fields</i></span>
<div class="omades blockquote">
Στα φροντιστήρια Σύστημα θα βρείτε ομάδες προσανατολισμού για:</br>
<span>Ανθρωπιστικές Σπουδές, </span><span>Θετικές Σπουδές, </span><span>Σπουδές Οικονομίας και Πληροφορικής</span>
</div>
</div>
<!-- 
<div class="omades-title">Ομάδες Προσανατολισμού</div>
<div class="omades">
	<div class="omada one">Ανθρωπιστικές Σπουδές</div>
	<hr class="width45">
	<div class="omada two">Θετικές Σπουδές</div>
	<hr class="width45">
	<div class="omada three">Οικονομικές & Πληροφορικής</div>
	<hr class="width45">
</div> -->

