<!--       -->
<!-- ALIAS -->
<!--       -->
{% assign section.wrapperSection.theme = %}


 <!--                 -->
<!--  SECTION WRAPPER -->
<!--                 -->
{% if section.wrapperSection %}
   {% capture wrapperSection %}
   <div  
   {% for data in section.wrapperSection.theme %}
        {{data[0]}}="{{data[1]}}"
        {% endfor %}>
      {% endcapture%}
      {% capture wrapperSectionEnd %}</div>{% endcapture%}
{% else %}
   {% capture wrapperSection %}{% endcapture%}
      {% capture wrapperSectionEnd %}{% endcapture%}
   {% endif%}
{{ wrapperSection }}