<!--              -->
<!-- SECTION TITLE -->
<!--                 -->
pagetest
<!-- DEBUG FILE: html_components/basic_components/pageincludes/pagesectiontitle.html -->
<!-- Section Title -->
         <!-- Check if there is a title for the html section and print it-->
         {% if section.seoTitle %}
            <div class="seo-header">
               <h1 class="seo-title">
                  {{ section.sectionTitle.data.label }} {{ section.sectionTitle.data.separator}}
                  {% if section.sectionTitle.data.link %}
                     <a href="{{site.baseurl}}{{ section.title-data.link }}">{{ section.sectionTitle.data.label }}</a>
                  {% endif %}
               </h1>

               <!-- section SUBTITLE -->
               {% if section.sectionSubtitle %}
                  <div class="seo-subtitle">
                        {{  section.sectionSubtitle.data.label }} {{ section.sectionSubtitle.data.separator}}

                        {% if section.sectionSubtitle.data.link %}
                        <a href="{{site.baseurl}}{{ section.subtitle-data.link }}">{{ section.sectionSubtitle.data.label }}</a>
                       {% else %}
                        {{ section.sectionSubtitle.data.label }}
                        {% endif %}


                     </div>
                  {% endif %}

               </div>
            {% endif %}
