<!--       -->
<!-- ALIAS -->
<!--       -->
{% assign htmlComponent.data = %}
{% assign htmlComponent.module = %}
{% assign htmlComponent.component = %}


<!--  -->
<!-- PAGE COMPONENTS -->
<!--  -->
<!-- DEBUG FILE: html_components/basic_components/pageincludes/pagecomponents.html -->

<!-- TITLE COMPONENT -->
  {% include html_components/component_includes/componenttitle.html component-data=htmlComponent.data %}

<!--                       -->
<!-- COMPONENT WRAPPER DIV -->
<!--                       -->
<!-- DEBUG FILE: html_components/basic_components/pageincludes/pagecomponents.html -->
<!-- INCLUDE basic_components/pageincludes/pagecomponentswrapper.html -->
   {% include basic_components/pageincludes/pagecomponentswrapper.html %}

<!--                   -->
<!-- COMPONENT CONTENT -->
<!--                   -->
<!-- DEBUG FILE: html_components/basic_components/pageincludes/pagecomponents.html -->
<!-- Include the html component template and bring it's details -->
<!-- Capture the html component template -->
  
{% if htmlComponent.module %}

  {% assign components = site.components | where: 'module' , htmlComponent.module %}

  {% for component in components %}

<!--  	   -->
<!-- ALIAS -->
<!--  	   -->
{% assign component.module  = %}
{% assign component.data = %}


  {% capture htmlComponentHtml %}html_components/{{ component.module }}.html{% endcapture %}
  {% include {{ htmlComponentHtml }} component-data=component.data %} 

    {% endfor %}
{% else %}
{% if htmlComponent.component == custom %}
   {% capture htmlComponentHtml %}html_components/custom/{{ htmlComponent.name }}.html{% endcapture %}
{% else %}
  {% capture htmlComponentHtml %}html_components/{{ htmlComponent.component }}.html{% endcapture %}
{% endif %}
  {% include {{ htmlComponentHtml }} component-data=htmlComponent.data %} 

{% endif %}


{{ componentWrapperDivEnd }}

