/* http://codepen.io/stacy/pen/qOdWMy */
// Create our color classes
// The each loop goes through each $color (key) and $color-value (value) in our map ($theme-colors)
@each $color, $color-value in $theme-colors {

	// Append the color name to the class with interpolation #{$color}
  .bg-#{$color} {
		
		// Assign the background color with the color function we created earlier 
    background: color($color);
	
		// Display the code on our color swatch
		&:after {
			content: 'background: color(#{$color});';
		}
	}
	
	// Create foreground color the same way
	.#{$color} {
			color: color($color);
	}
}

$theme-colors: (
  coral: #F45D4C,
	orange: #F7A541,
	green: #A1DBB2,
	yellow: #FACA66,
	blue: #54787D,
	teal: #60B99A,
	purple: #5B527F,
	gray: #555555,
	white: #ffffff,
	black: #000000
);