$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1170px,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
);

$symmetric: (
  columns: 12,
  container: 1170px,
  gutters: .25,
  output: float,
/*   debug: (image: show), */
);

$textarea: (
  columns: 12,
  container: 1258px,
  gutters: 0,
  output: float,
  /*   debug: (image: show), */
);

$header: (
  columns: 3 2 3,
  container: auto,
  output: isolate,
/*   debug: (image: show)   */
);

$map-portofolio: (
  columns: 12,
  container: 1170px,
  gutters: 0,
  output: float,
);


$full-width: (
  columns: 12,
  container: 90%,
  gutters: 0,
  output: float,
/*   debug: (image: show), */
);

$susy-media: (
  normal:  (
    media: screen,
    min-width: 993px,
  ),
  mobile:  (
    media: screen,
    max-width: 992px,
  ),
);
