<nav>
  <div class="nav-wrapper">
     {% if include.component-data.logo.image %}
       <a href="/" class="logo"><img src="{{include.component-data.logo.image}}" alt="{{ site.title }}"></a>
     {% else %}
       <a href="/" class="brand-logo">{{ include.component-data.logo.title }}</br>{{ include.component-data.logo.subtitle}}</a>
     {% endif %}
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         {% for menu in site.data.content.menu %}
           <li><a href="{{menu.path}}">{{menu.title}}</a></li>
         {% endfor %}
       </ul>
       <ul class="side-nav" id="mobile-demo">
         {% for menu in site.data.content.menu %}
           <li><a href="{{menu.path}}">{{menu.title}}</a></li>
         {% endfor %}
       
      </ul>
  </div>
</nav>
