<!-- Progress Bar -->
<!-- OPTIONS
mdl-progress__indeterminate -->
<!-- BUFFERING -->
// <script>
//   document.querySelector('#{{loader.id}}').addEventListener('mdl-componentupgraded', function() {
//     this.MaterialProgress.setProgress(33);
//     this.MaterialProgress.setBuffer(87);
//   });
// </script>
<div id="{{loader.id}}" style="width:250px" class="mdl-js-progress"></div>


<!-- SPINNER -->
<!-- MDL Spinner Component -->
<div class="mdl-spinner mdl-js-spinner is-active"></div>

<!-- MDL Spinner Component with Single Color -->
<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>