input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 0.4375em 0;
}
.input-field label {
    top: 2rem;
}
.contactonemap { 
   .contact-form-materialize {
   background: #fff;
   padding: 4%;
   margin-bottom: 10%;
   } 
}
