topnav {
  background: #192638;
}
@include susy-media(normal) {
  header {
    height: 450px;
  }
  // 
  // SLIDESHOW HEADER
  // 
  .header-slideshow,
  .slideshow-item,
  .slideshow-post {
    height: 100%;
  }
  .owl-carousel,
  .owl-stage-outer,
  .owl-stage,
  .owl-item {
    height: 100% !important;    
  }
  .slideshow-post{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #FFF;
    background-size: cover;
    background-position: 50% 50%;
  }
  .slideshow-title {
      background: rgb(252, 209, 60);
      padding: 0.2em 1.2em;
      color: #323232;
      font-size: 45px;
      font-weight: bold;
      font-family: "ubuntu";
  }
}

.owl-item:nth-child(8) {
  background: url("/assets/images/slideshow/slideshow-1.jpg.png") no-repeat 50% 0%, linear-gradient(rgba(18, 23, 32, 0.7), rgba(18, 23, 32, 0.7)), url("/assets/images/bathmoi.jpg") no-repeat;
}


header.hero-overlay {
    background: url("/assets/images/hero.png") no-repeat 50% 0%, linear-gradient(rgba(18, 23, 32, 0.7), rgba(18, 23, 32, 0.7)), url("/assets/images/bathmoi.jpg") no-repeat;
}
// // SXEDIO BG
// .sxedio header.hero-overlay {
//     background: url("/assets/images/hero.png") no-repeat 50% 0%, linear-gradient(rgba(18, 23, 32, 0.7), rgba(18, 23, 32, 0.7)), url("/assets/images/sxedio/sxedio-room-5.jpg") no-repeat;
// }
// .aboutus,
// .lykeio {
//   header.hero-overlay {
//   background: url("/assets/images/hero.png") no-repeat 50% 0%, url("/assets/images/blackboard.jpg") no-repeat;
//   background-size: auto, cover;
//   }
// }

nav {
 margin-top: 0;
 box-shadow: none;
}
#nav-mobile {
  background-color: transparent;
}
#nav-mobile a {
 color: #f2f2f2;
}


nav {
  background-color: transparent;
  .nav-wrapper {
     position: relative;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   ul li:hover,
   ul li.active {
    background-color: #ffffff;
   }
  .button-collapse i {
    color: #ffffff;
   }
 #nav-mobile {
     background-color: transparent;
   a {
    color: #f2f2f2;
   }
   a:hover {
    color: #323232;
   }
 }
}

// .frontpage {
//     nav {
//       box-shadow: none;
//       margin-top: 50px;
//     }
//     #nav-mobile {
//         background-color: #fff;
//         opacity: 0.8;
//       a {
//         color: #020510;
//         font-weight: bold;
//       }
//     }
//
// HERO TEXT
//
//   .hero{
//       margin: 5% 0;
//       padding: 0 5%;
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       color: #EF2B1D;
//       font-size: 42px;
//       font-weight: bold;
//       .hero-group {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//       }
//       .herotitle {
//         // align-self: flex-start;
//         // margin-bottom: 1%;
//         font-size: 60px;
//       }
//       .herosubtitle {
//         align-self: flex-end;
//       }
//   }
// }
// CONTACT PAGE
.contactonemap {
  nav {
    box-shadow: none;
  }
}


@include susy-media(mobile) {
  header {
    height: 70px;
    }
  .header-slideshow {
    display: none;
    } 
  .slideshow-title {
    font-size: 28px;
    }
}