@include susy-media(mobile) {
   .page {
      border: 15px solid #26334A;
   }
	topnav {
		display: flex;
		}
	.logo {
		width: 40%;
		margin: 0 5%;
		}
	.block {
		margin-bottom: 3rem;
		}
	.pagination {
		display: none;
	}
	.footer {
	  flex-direction: column;
	  padding: 4%;
	  .menu {
	  	height: 320px;
	  }
	}
}
