/* PAGE */
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}



.textarea,
.maincontent {
  @include layout($textarea);
  @include container;
  @include break;
  padding: 0 4%;
  position: relative;
  margin-top: -25px;
}
.top-article {
  @include layout($textarea);
  @include container;
}
.color-overlay {
  clear: both;
  padding: 0 5% 15%;
}
.type {
  @include container;
}
.text {
  @include container;
}

.spoudes {
  @include layout($textarea);
  @include container;
  flex-direction: column;
  align-items: center;
}
.spoudes-group {
  @include layout($textarea);
  @include container;
  margin-bottom: 2rem;
  display: flex;
  .type {
    @include span(4 of 12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding: 2%;
  }
  .text {
    @include span(8 of 12 last);
    display: flex;
    align-items: center;
    padding: 4%;
  }
}
.why {
  .title,
  .content {
    @include push ( 5 of 12);
  }
}
.footer {
  @include layout($textarea);
  @include container;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
   .contact-footer {
     display: flex;
     flex-direction: column;
     padding: 6%;
     .contact-group {
       margin-bottom: 7%;
     }
   }
   .social-footer {
      padding: 6%;
      display: flex;
      flex-direction: column;
      .social ul {
        display: flex;
          justify-content: space-around;
      }

   }
}
   .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   .book-group {
    margin-bottom: 2rem;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
   }


/* MAP */
#map-canvas {
   width: 100%;
}
