@include susy-media(normal) {
  $max-width: 1280px;

   .page {
      display: flex;
      flex-direction: column;
   }
   //
   // HEADER
   //
   nav {
     @include layout($full-width);
     @include container;
     max-width: $max-width;
   }
   .onemap {
      nav {
         max-width: 100%;
         position: absolute;
         top: 15px;
      }
      .nav-wrapper {
         position: relative;
         height: 100%;
         width: 1280px;
         margin: auto;
      }
   }
   .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: span( 3 of 12 );
      img {
        width: 120px;
      }
   }
   #nav-mobile {
      @include span( 9 of 12 last);
   }
   #nav-mobile a {
    font-size: 0.8rem;
   }
   .hero-group {
      flex-basis: 80%;
      max-width: $max-width;
   }
   .aboutus .hero-group {
      color: #CE4646;
   }

  //  PAGES
  //
  // ABOUT US
  //
   .aboutus {
      .teachers .component-title {
        margin-top: 0;
         @include t-h2;
      }
      .secretaria .component-title {
        margin-top: 0;
        padding: 2% 0;
      }
   }
   .aboutus .teacher-group {
      display: flex;
      .name {
         min-width: span(5 of 12);
      }
   }
   .frontistiria {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: baseline;
     .frontistirio:nth-child(2){
        margin: 0 2em;
      }

   }
   .success {
       @include layout($textarea);
       @include container;
        width: 100%;

      .success-group {
         display: flex;
      .name {
         min-width: span( 5 of 12);
         }
      }
        .component-title {
          @include t-h2;
          background: #192638;
          color: #fcd13b;
          padding: 5px 15px;
          font-family: "Roboto Condensed";
          margin-top: 0;
        }
   }
   .news,
   .articles {
     display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card {
        flex-basis: 49%;
        padding: 0;
      }
   }
   .paroxes {
     .card {
       padding: 4%;
     }
   }
   .contact {
      .maincontent {
         display: flex;
         flex-wrap: wrap;
      }
      .contact-footer {
         background: #fff;
         flex-basis: 50%;
         height: 100%;
      }
      .contact .contact-form-materialize {
         margin-bottom: 10%;
      }
   }
}
