---
---

<!DOCTYPE html>
<html lang="gr">

  {% include basic_components/head.html %}

  <body>


      <div class="page {{ page.pagetitle}}">

        {% include basic_components/page.html config-file='header-materialize-slideshow' %}

        {{ content }}

        {% include basic_components/page.html config-file='footer' %}

         </div>
      <script type="text/javascript" src="{{ site.baseurl }}/js/components.js"></script>

     {% include basic_components/perpageplugins.html config-file='header-materialize-slideshow' %}
     {% include basic_components/perpageplugins.html %}

  </body>

</html>
