---
layout: default-map
pagetitle: layout-frontistiria
config:
 - section:
    data:
      htmlelement: section
    theme:
      class: textarea
   divs:
      - div:
          theme:
           class: success block
        components:
         - component: /post_components/fields
           data:
             fields:
              - field: title
              - field: address
              - field: phone
      - div:
         theme:
          class: post-slideshow
        components:
         - component: /post_components/fields
           data:
            javascript-plugin: owl-carousel
            javascript-plugin-data:
                 items: 1
                 loop: true
                 autoplay: true
                 margin: 10
                 dots: true
            wrapperDiv:
             theme:
                class: owl-carousel owl-theme
                id: slideshow-frontistirio
            groupFieldsElement: div
            groupFieldsElement-data:
             class: slideshow-item
            fields:
                 - field: images
                   data:
                     images-hash: image
                     images-path: /assets/images/frontistiria/                    
                     class: slideshow-item                               
---

{% include basic_components/layout.html %}
