---
layout: default-dev-frontpage
config:
 - section:
    data:
      htmlelement: section
    theme:
      class: textarea
   divs:
      - div:
          theme:
           class: leitourgia-post card
        components:
         - component: /post_components/fields
           data:
             fields:
              - field: image
                data:
                 image-hash: image
                 image-path: /assets/images/leitourgia/             
              - field: title
              - field: content
      - div:
          theme:
           class: pagination
        components:
         - component: /post_components/pagination
           data:
             content-type: leitourgia
             icon: yes
             class: waves-effect waves-deep-orange btn-flat
---

{% include basic_components/layout.html %}
