---
layout: default-map
config:
 - section:
    data:
      htmlelement: section
    theme:
      class: textarea
   divs:
      - div:
         theme:
          class: frontistiria
        components:
         - component: /post_components/fields
           data:
             fields:
              - field: images
                data:
                 class: success-group
                 image-hash: image
                 images-path: /assets/images/frontistiria/
      - div:
          theme:
           class: success block
        components:
         - component: /post_components/fields
           data:
             fields:
              - field: name
              - field: phone
css: |
   header {
    background-image: radial-gradient(#31415D, #1A2231);
   /*     background: url("/assets/images/gradient.jpg") no-repeat; */
   /*     background-size: cover; */
   }

---

{% include basic_components/layout.html %}
