---
layout: default-dev-frontpage
config:
 - section:
    data:
      htmlelement: section
    theme:
      class: textarea
   divs:
      - div:
          theme:
           class: leitourgia-post card
        components:
         - component: /post_components/fields
           data:
             fields:
              - field: title
              - field: content
      - div:
          theme:
           class: pagination
        components:
         - component: /post_components/pagination
           data:
             content-type: leitourgia
             next-label: επόμενο
             previous-label: προηγούμενο
---

{% include basic_components/layout.html %}
