@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/googlefonts/Comfortaa-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/googlefonts/Comfortaa-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/googlefonts/Roboto-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/googlefonts/Roboto-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/googlefonts/Roboto_Condensed-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/googlefonts/Roboto_Condensed-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

